// Creacion de las variables que vamos a utilizar en el html

// Colores
$fondo-menu: #278075;
$color-letra: white;
$color-fondo-menu: bisque;
$fondo-principal: #e8bd76;
$negro: black;
$azure: azure;
$lightskyblue: lightskyblue;
$blue: blue;
$fondo-footer: bisque;


