// Creacion de las variables que vamos a utilizar en el html


// Variables del cabecera
$fondo-menu: #278075;
$color-letra: white;
// Variables del menu
$color-fondo-menu: #10ff00;

// Variables del principal
$fondo-principal: #e8bd76;