// Creacion de las variables que vamos a utilizar en el html

// Colores
$fondo-menu: #278075;
$color-letra: white;
$color-fondo-menu: #10ff00;
$fondo-principal: #e8bd76;
$negro: black;
$azure: azure;
$lightskyblue: lightskyblue;


