body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #e8bd76;
}

#wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "menu" "principal";
}

#menu {
  background-color: #278075;
  position: sticky;
  top: 0;
  z-index: 1000;
}
#menu img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  padding: 5%;
}
#menu #arriba {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
#menu #drch {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#menu #abajo {
  border-top: 3px black solid;
  border-bottom: 3px black solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  background-color: bisque;
  padding: 3%;
}
#menu a {
  color: black;
  outline: none;
  text-decoration: none;
}
#menu a:hover {
  color: blue;
}

#principal #title {
  color: white;
  text-align: center;
}
#principal #sobreMi {
  background-color: azure;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: 5% auto;
  text-align: left;
}
#principal #sobreMi hr {
  border: 1px lightskyblue solid;
  width: 100%;
}
#principal #experienciaLaboral {
  background-color: azure;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: 5% auto;
  text-align: left;
}
#principal #experienciaLaboral hr {
  border: 1px lightskyblue solid;
  width: 100%;
}
#principal #formacion {
  background-color: azure;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: 5% auto;
  text-align: left;
}
#principal #formacion hr {
  border: 1px lightskyblue solid;
  width: 100%;
}
#principal #formacion h3 {
  text-align: start;
}
#principal #formacion ul {
  list-style: none;
  padding: 0;
  margin-left: 40px;
}
#principal #conociminetos {
  background-color: azure;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
  margin: 5% auto;
  text-align: left;
}
#principal #conociminetos hr {
  border: 1px lightskyblue solid;
  width: 100%;
}
#principal #conociminetos #listaHorizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: normal;
}
#principal #conociminetos #listaHorizontal h4 {
  text-align: center;
}
#principal #conociminetos ul {
  list-style: none;
  padding: 0;
  margin-left: 40px;
}
#principal #conociminetos ul li a {
  color: black;
  outline: none;
  text-decoration: none;
}
#principal #conociminetos ul li a:hover {
  color: blue;
}
#principal div {
  scroll-margin-top: 360px;
}
#principal #footer {
  background-color: bisque;
}
#principal #footer p {
  text-align: center;
  font-weight: bold;
}
#principal #footer #contactos-enlaces {
  display: flex;
  flex-direction: row;
}
#principal #footer #contacto {
  font-size: 15px;
}
#principal #footer #contacto h3 {
  text-align: center;
}
#principal #footer #contacto ul {
  list-style: none;
  padding: 0;
  margin-left: 40px;
}
#principal #footer #enlace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#principal #footer #enlace h3 {
  text-align: center;
}
#principal #footer #enlace ul {
  list-style: none;
  padding: 0;
  margin-left: 40px;
  text-align: center;
}
#principal #footer #enlace ul img {
  width: 40%;
  height: 40%;
}

@media (min-width: 850px) {
  #wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
  }
  #menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  #menu img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    padding: 5%;
  }
  #menu #arriba {
    display: flex;
    flex-direction: column;
  }
  #menu #abajo {
    display: flex;
    flex-direction: column;
    background-color: #278075;
    border: none;
    border-top: 3px black solid;
    font-size: 20px;
    overflow-y: auto;
  }
  #menu a {
    color: white;
    margin-bottom: 5%;
  }
  #principal #footer #contacto {
    font-size: 20px;
    margin-left: 20%;
  }
  #principal #footer #enlace ul {
    list-style: none;
    padding: 0;
    margin-left: 40px;
    text-align: center;
  }
  #principal #footer #enlace ul img {
    width: 20%;
    height: 20%;
  }
}

/*# sourceMappingURL=styles.css.map */
