@use "sass:list";
@use "variables" as *;
@use "mixins" as *;

body {
  @include bodyStyle;
  background-color: $fondo-principal;
}

#wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "menu"
                       "principal"
                       "footer";
}


#menu {
  background-color: $fondo-menu;
  @include menuSticky;
  img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    padding: 5%;
  }
  #arriba {
    @include horizontal;
    color: $color-letra;
  }
  #drch {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #abajo {
    border-top: 3px $negro solid;
    border-bottom: 3px $negro solid;
    @include horizontal;
    font-size: 15px;
    background-color: $color-fondo-menu;
    padding: 3%;
  }
  a {
    color: $negro;
    outline: none;
    text-decoration: none;
  }
  a:hover {
    color: $blue;
  }
}

#principal {
  #sobreMi {
    @include divs;
    hr {
      @include separador;
    }
  }
  #experienciaLaboral {
    @include divs;
    hr {
      @include separador;
    }
  }
  #formacion {
    @include divs;
    hr {
      @include separador;
    }
    h3 {
      text-align: center;
    }
    ul {
      @include listas;
    }
  }

  #conociminetos {
    @include divs;
    hr {
      @include separador;
    }
    #listaHorizontal {
      @include horizontal;
      align-items: normal;
      h4 {
        text-align: center;
      }
    }
    ul {
      @include listas;
      li {
        a {
          color: $negro;
          outline: none;
          text-decoration: none;
        }
        a:hover {
          color: $blue;
        }
      }
    }
  }
  div {
    scroll-margin-top: 360px;
  }
}

#footer {
  background-color: $fondo-menu;
  p {
    text-align: center;
    font-weight: bold;
  }
  #contactos-enlaces {
    display: flex;
    flex-direction: row;
  }

  #contacto {
    h3 {
      text-align: center;
    }
    ul {
      @include listas;
    }
  }

  #enlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      text-align: center;
    }
    ul {
      @include listas;
      img {
        width: 40%;
        height: 30%;
      }
      text-align: center  ;
    }
  }
}

@media (min-width: 850px) {
  #wrapper {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: "menu contenido";
  }
  #menu {
    @include menuSticky;
    @include vertical;
    #arriba {
      @include vertical;
    }
    #abajo {
      @include vertical;
      font-size: 20px;
    }
    a {
      margin-bottom: 10%;
    }
  }
}